body {
    background-color: black;
    color: white;
    font-size: 50px;
}

header {
    text-align: center;
}

#content {
    text-align: center;
}

a {
    text-decoration: none;
    text-align: center;
}

p {
    margin: 20px;
    text-align: center;
    margin: 30px;
}

h3 {
    padding: 10px;
    text-align: center;
}

.result {
    font-size: bold;
}

#form {
    text-align: center;
    margin: 15px;
    color: grey;
}

.okAge {
    text-align: center;
    color: greenyellow;
}

.notAge {
    text-align: center;
    color: red;
}